*{
    font-family: Inter, serif;
    --primary-color: #FFFFFF;
    --primary2-color: #363738;
    --secondary-color: #F5F5F5;
    --secondary1-color: #FEFAF1;
    --secondary2-color: #DB4444;
    --text: #FAFAFA;
    --text1: #7D8184;
    --text2: #000000;
    --button: #000000;
    --button1: #00FF66;
    --button2: #DB4444;
    --button2-hover: #E07575;
    --button1-hover: #A0BCE0;
    --ultramarine : #120A8F;
    transition: 0.3s;

}

img{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: var(--text2);
    cursor: pointer;
    font-size: 16px;

}
.icon{
    width: 25px;
    height: fit-content;
}
.user-icon{
    cursor: pointer;
    background-color: var(--secondary2-color);
    border-radius: 50%;
    padding: 5px;
}

.user-icon img{
    width: 25px;
    height: 25px;
}
section{
    margin-bottom: 150px;
}

/*--------------------------------- header ---------------------------------*/
header{
    margin-top:10px ;
    position: relative;
}
.navbar{
    align-content: center;
    justify-content: space-between;
    position: relative;
}
.navbar-brand{
    font-size: 24px;
    font-weight: 700;
    color: var(--text2);
}
.navbar-collapse{
    flex-grow: 0;
    top: 0;

}
.navbar ul{
    gap: 40px;
}
.navbar-collapse ul{

}
.active{
    color: var(--text1);
}
.nav-right{
    width: fit-content;
    align-items: center;
    display: flex;
    gap: 20px;
}
.input-group{
    background-color: var(--secondary-color);
}
.input-group input{
    background-color: var(--secondary-color);
    border: none;
    color: var(--text2);
}
.header-btn{
    border: none;
    border-radius: 5px;
}

.user-menu{
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgb(0,0,0,0.04);
    backdrop-filter: blur(150px);
    border-radius: 5px;
    display: none;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    z-index: 100;
}
.user-menu a{
    color: var(--secondary-color);
    display: flex;
    gap: 15px;
    font-size: 14px;
}
.open{
    display: flex;
}
.cart-icon{
    position: relative;
}
.cart-number{
    cursor: pointer;
    color: var(--text);
    width: 20px;
    height: 20px;
    background-color: var(--secondary2-color);
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    display: none;
    justify-content: center;
    align-items: center;
}

/*--------------------------------- main ---------------------------------*/
section{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
/*section header*/
section .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
section .header .left{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
section .header .left .top{
    display: flex;
    gap: 16px;
    align-items: center;
    color: var(--secondary2-color);
    font-size: 16px;
    font-weight: 600;
}
section .header .left .top span{
    display: inline-block;
    width: 20px;
    height: 40px;
    background-color: var(--secondary2-color);
    border-radius: 5px;

}
section .header .left .bottom{
    display: flex;
    gap: 80px;
    align-items: end;
}
section .header .left .bottom h1{
    font-size: 36px;
    letter-spacing: 0.04em;
    font-weight: 600;
}
section .header .left .timer{
    display: flex;
    gap: 10px;
}
section .header .left .timer div{
    display: flex;
    flex-direction: column;
}
section .header .left .timer div span:first-child{
    font-family: Poppins, serif;
    font-size: 12px;
    font-weight: 500;
    color: var(--secondary2-color);
}
section .header .left .timer div span:last-child{
    font-size: 32px;
    letter-spacing: 0.04em;
    font-weight: 600;
}
section .header .left .timer > span{
    font-size: 30px;
    display: flex;
    align-items: end;
    margin-bottom:2px ;
    color: var(--secondary2-color);
}
section .header .right{
    display: flex;
    gap: 20px;
    align-self: end;
}
section .header .right div{
    width: 50px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}
section .header .right div:hover{
    background-color: var(--secondary2-color);
}

/*section content*/
section .content{
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 50px;
    overflow-x: hidden;
    scroll-snap-type: x mandatory; /
}
/*section footer*/
section .footer{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
section .btn{
    background-color: var(--button2);
    color: var(--text);
    padding: 16px 48px;
    border: none;
    border-radius: 5px;
}
section .btn:hover{
    background-color: var(--button2-hover);
}
/*card*/
section .card {
    flex: 0 0 calc(25% - 40px*3/4); /* Fixed width for 4 cards per view */
    gap: 16px;
    border: none;
    box-sizing: border-box;
    scroll-snap-align: start; /* Optional: for snap scrolling */
}
section .card-image{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 70%;
    padding: 60px 60px;
    position: relative;
    overflow-y: hidden;
    aspect-ratio: 1/1;
}
section .card-image img{
    object-fit: cover;
}
section .card-image img:hover{
    transform: scale(1.05);
}
section .card-image .addToCart{
    position: absolute;
    bottom: -15%;
    background-color: var(--primary2-color);
    color: var(--text);
    width: 100%;
    height: 15%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}
section .card-image:hover .addToCart{
    bottom: 0;
}


section .card-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 30%;
}
section .card-content h1{
    font-size: 16px;
    font-weight: 600;
    font-family: Poppins, serif;
    margin: 0;
}
section .card-content .price{
    font-size: 14px;
    font-weight: 500;
    display: flex;
    gap: 15px;
    color: var(--secondary2-color);
}
section .card-content .price span{
    color: var(--text1);
    text-decoration: line-through;
}
section .card-content .rate{
    display: flex;
    align-items: center;
    gap: 5px;
}
section .card-content .rate img{
    width: 18px;
}
section .card-content .rate span{
    margin-left:5px ;
    color: var(--text1);
    text-align: center;
}

/*--------------------------------- section 1 ---------------------------------*/
.section1 {
    flex-direction: row;
}

.section1 aside{
    display: flex;
    flex: 20%;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}
.section1 aside a{
    color: var(--text2);
}
.section1 aside a:hover{
    color: var(--text1);
}
.section1 hr{
    border-right: var(--primary2-color) 1px solid;
    margin: 0;

}
.section1 .cover{
    flex: 80%;
    object-fit: cover;
    background-image: linear-gradient(#000,var(--ultramarine), #fff);
    color: var(--text);
    margin: 20px;
    padding: 30px;
    border-radius: 5px;
}
.section1 .cover_head{
    display: flex;
    gap: 10%;
    padding-left: 50px ;

}
.section1 .s1-content{
    flex: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.section1 .s1-content h1{
    font-size: 45px;
    font-weight: 600;
}
.section1 .s1-content h1 span{
    color: var(--secondary2-color);
}
.section1 .s1-content a {
    color: var(--secondary2-color);
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}

.section1 .s1-content img{
    width: 40px;
}
.section1 .cover_image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50%;
}
.section1 .cover_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.section1 .cover_footer div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--text1);
}
.section1 .cover_footer div.active{
    background-color: var(--secondary2-color);
}
/*--------------------------------- section 2 ---------------------------------*/
.gray{
    filter: grayscale(1);
}
/*--------------------------------- section 3 ---------------------------------*/
.section3 .content .category{
    flex: 0 0 calc(100% /6 -  40px*5 /6);
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: var(--primary2-color) 2px solid;
    border-radius: 5px;

}
.section3 .content .category h1{
    font-size: 16px;
    font-weight: 500;
}
.section3 .content .category div{
}
.section3 .content .category div img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 5px;
}

.section3 .category:hover{
    img{
        filter: invert(1);
    }
    h1{
        color: var(--text);
    }
    background-color: var(--secondary2-color);
    border-color: var(--secondary2-color);
}

/*--------------------------------- section 4 ---------------------------------*/

/*--------------------------- footer ---------------------------*/
footer{
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    background-color: var(--text2);
    font-size: 20px;
    padding: 80px 50px;
}
footer  > div{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
}
footer > div:first-child{
    max-width: 350px;
}
footer .footer-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer h1{
    font-size: 24px;
    font-weight: 500;
    color: white;
}
footer p , footer a{
    font-size: 20px;
    font-weight: 400;
    color: var(--text1);
}
footer .f-header{
    font-size: 40px;
}
footer  a:hover{
    color: var(--text);
}

footer .social-icons{
    display: flex;
    gap: 20px;
}
footer .social-icons img{
    width: 35px;
    padding: 6px;
    background-color: #313131;
    border-radius: 4px;
}
footer .social-icons img:hover{
    background-color: #1F1F1F;
    box-shadow: #9B9B9B 0 0 5px;
}

/**/
@media screen and (max-width: 992px){
    .nav-right{
        display: none;
    }
}


/*--------------------------- media queries ---------------------------*/
/*------------------- max width 1480 -------------------*/
@media (max-width: 1480px) and (min-width: 1280px) {
    .s1-header-content h1{
        font-size: 100px;
    }
    .section1 .s1-footer-content > div  {
        gap: 30px;
    }
    /*-------------------------------*/
    .section4{
        gap: 30px;
    }
    .section4-content > h1{
        font-size: 50px;
    }
    /*-------------------------------*/
    .section3-content h1{
        font-size: 50px;
    }
    /*-------------------------------*/


    .section5{
        gap: 0;
    }
    .section5 .card{
        padding: 30px;
        width: 450px;
        height: 450px;
    }
    .section5 .card > img{
        height: 60px;
    }
    .section5 .card p{
        font-size: 20px;
    }
    .section5 .card .card-footer img{
        width: 60px;
    }
    .section5 .card .card-footer div h1{
        font-size: 22px;
    }
    .section5 .card .card-footer div p{
        font-size: 18px;
    }
    .section5-left img{
        height: 500px;
        width: 550px;
    }
    .section5-btn .btn{
        width: 70px;
        height: 70px;
        padding: 15px;
    }
}
/*------------------- max width 1279 -------------------*/
@media (max-width: 1279px) {
    /* ----------------------------- */
    footer > div {
        padding: 10px;
    }
    .section3 .content .category{
        flex: 0 0 calc(100% /5 -  40px*4 /5);
    }
}
/*------------------- max width 1023 -------------------*/
@media (max-width:1023px ) {
    .navbar{
        padding: 20px;
    }
    .navbar ul{
        gap: 0;
    }
    .navbar-brand{
        font-size: 20px;
    }
    .section1{
        gap: 10px;
    }
    .section1 aside{
        flex: 30%;
    }
    .section1 a{
        font-size: 14px;
    }
    .section1 .s1-content h1{
        font-size: 26px;
        flex: 70%;
    }
    .section1 .s1-content a{
        font-size: 14px;
    }
    .section1 .cover_head{
        padding-left: 10px;
    }
    .section1 .cover_footer{
        gap: 5px;
    }
    .section1 .cover_footer div{
        width: 8px;
        height: 8px;
    }

    .section3 .content .category{
        flex: 0 0 calc(100% /4 -  40px*3 /4);
    }
    section .card {
        flex: 0 0 calc(33.333% - 40px*2/3); /* Fixed width for 3 cards per view */
    }
    /*-------------------------------*/
    footer{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
/*------------------- max width 767 -------------------*/
@media (max-width:767px ) {
    .section1 aside, .section1 hr {
        display: none;
    }

    .section1 .cover {
        width: 100%;
    }

    /*-------------------------------*/
    footer {
        grid-template-columns: 1fr;
        padding: 80px 10px;
    }

    footer > div, footer > div:first-child {
        padding: 20px;
        max-width: 100%;
    }
}
